:root {
    --brand: #0A6847;
    --sub: #7ABA78;
    --body: orange;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
/* Slider
================================================== */
/*-- Main slide --*/
.banner-carousel .banner-carousel-item {
    background-color: aqua;
    height: 500px;
    color: #fff;
    background-position: 50% 50%;
    background-size: cover;
  }
  
  @media (max-width: 991px) {
    .banner-carousel .banner-carousel-item {
      height: 550px;
    }
  }
  
  @media (max-width: 575px) {
    .banner-carousel .banner-carousel-item {
      height: 450px;
    }
  }
  
  .slider-content {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .slide-title-box {
    font-size: 16px;
    line-height: 39px;
    background: var(--brand);
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    margin: 0 0 10px;
  }
  
  .slide-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    color: #fff;
    margin: 20px 0 10px;
  }
  
  @media (max-width: 991px) {
    .slide-title {
      font-size: 22px;
    }
  }
  
  @media (max-width: 575px) {
    .slide-title {
      font-size: 16px;
    }
  }
  
  .slide-sub-title {
    font-style: normal;
    font-size: 60px;
    line-height: 58px;
    margin: 20px 0;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  
  @media (max-width: 991px) {
    .slide-sub-title {
      font-size: 46px;
    }
  }
  
  @media (max-width: 575px) {
    .slide-sub-title {
      font-size: 30px;
      line-height: 30px;
    }
  }
  
  .slider-text {
    display: table;
    vertical-align: bottom;
    color: #fff;
    padding-left: 40%;
    width: 100%;
    padding-bottom: 0;
    padding-top: 20px;
  }
  
  .slider-text .slide-head {
    font-size: 36px;
    color: #0052a5;
    position: relative;
  }
  
  .slider-img {
    display: block;
    position: absolute;
    top: -80px;
    left: 20%;
    width: 314px;
    max-height: 100%;
  }
  
  .slider-img img {
    display: block;
    position: relative;
    max-height: 100%;
    width: auto;
  }
  
  .slider.btn {
    margin: 15px 5px 0;
    border: 2px solid transparent;
  }
  
  @media (max-width: 575px) {
    .slider.btn {
      font-size: 12px;
    }
  }
  
  .slider.border {
    background: none;
    border: 2px solid var(--brand) !important;
  }
  
  .slider.border:hover {
    background: var(--brand);
    border: 2px solid transparent;
  }
  
  /* Carousel control */
  .banner-carousel .carousel-control {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    text-shadow: none;
    transition: all .25s ease;
    padding: 0;
    outline: 0;
    border: 0;
  }
  
  @media (max-width: 575px) {
    .banner-carousel .carousel-control {
      display: none !important;
    }
  }
  
  .banner-carousel .slick-dots {
    opacity: 0;
    filter: alpha(opacity=0);
    bottom: 60px;
  }
  
  .slick-dots li button::before {
    font-size: 12px;
  }
  
  .slick-dots li button:hover:before, .slick-dots .slick-dots li button:focus:before,
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--brand);
  }
  
  .slick-slide {
    outline: 0;
  }
  
  .banner-carousel:hover .carousel-control,
  .banner-carousel:hover .carousel-control,
  .banner-carousel:hover .slick-dots {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .banner-carousel .carousel-control.left {
    left: 20px;
  }
  
  .banner-carousel .carousel-control.right {
    right: 20px;
  }
  
  .banner-carousel .carousel-control i {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    line-height: 58px;
    width: 60px;
    height: 60px;
    font-size: 22px;
    border-radius: 0;
    transition: all 500ms ease;
  }
  
  .banner-carousel .carousel-control i:hover {
    background: var(--brand);
    color: #fff;
    border-radius: 50%;
  }
  
  /*-- Animation */
  .banner-carousel [data-animation-in] {
    opacity: 0;
  }
  
  /* slick Box slider */
  .box-slider-content {
    top: 50%;
    padding: 0;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  @media (max-width: 767px) {
    .box-slider-content {
      top: auto;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      left: 20px;
      bottom: 20px;
      width: calc(100% - 40px);
    }
  }
  
  .box-slider-text {
    background: #111;
    background: rgba(0, 0, 0, 0.65);
    display: inline-block;
    padding: 20px 30px;
    max-width: 650px;
  }
  
  .box-slide-title {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color: #fff;
  }
  
  @media (max-width: 767px) {
    .box-slide-title {
      font-size: 16px;
    }
  }
  
  .box-slide-sub-title {
    font-size: 36px;
    margin: 8px 0 10px;
    color: #fff;
  }
  
  @media (max-width: 767px) {
    .box-slide-sub-title {
      font-size: 26px;
    }
  }
  
  .box-slide-description {
    color: #fff;
  }
  
  @media (max-width: 767px) {
    .box-slide-description {
      font-size: 15px;
    }
  }
  
  .box-slider-text .btn {
    padding: 10px 20px;
  }
  
  .box-slide.owl-theme .owl-controls {
    margin: -20px;
  }
/* carousel end    */

/* btn  */
.btn-brand1{
  background-color: var(--brand);
  border: 1px solid var(--brand);
  color: rgb(255, 255, 255);
}

.btn-brand1:hover{
  background-color: transparent;
  color: var(--brand);
  font-weight: 600;
  border: 2px solid var(--brand);
}


/*Opportunities*/

.opportunities {
  position: relative;
}

.opportunities__img {
  position: absolute;
  left: -1.5rem;
  top: -16rem;
  z-index: -1;
  img {
      max-height: 55rem;
      max-width: 16rem;
  }
}

.opportunities__content {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  border-bottom: 2px solid var(--border);
  margin-bottom: 4rem;
}

.opportunities__head {
  text-align: center;
  max-width: 70rem;
  margin: 0 auto 1rem;
}

.opportunities__title {
  font-size: 2rem;
  color: black;
}

.opportunities__description {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.opportunities__body {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2.5rem;
  align-self: baseline;
}

.opportunity {
  width: 30%;
  background-color: var(--sub);
  border-radius: .5rem;
  filter: drop-shadow(0 0 0.75rem rgba(27, 31, 35, 0.15));
  padding: 5rem 2.5rem 2.5rem;
  transition: all 0.3s ease-out;
  &.active {
      background-color: var(--brand);
      .opportunity__title,
      .opportunity__description {
          color: white;
      }
  }
  &:hover {
      transform: translateY(-2rem);
  }
}

.opportunity__icon {
  max-height: 5.6rem;
  width: initial;
}

.opportunity__title {
  font-size: 1.2rem;
  color: #fff;
  margin: 2.5rem 0;
}

.opportunity__description {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}


/*End Opportunities*/


/* section cta  */
.cta-mission{
  background: url("../img/image-3/cta.avif") fixed 50% 50%;
  background-size: cover;
  padding: 50px 0px;
}
.mission{
  background-color: rgb(255, 255, 255,.65);
  margin: 20px;
}
/*testimonial*/

#food {
  padding: 5rem 0 10rem 0;
}

#food h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #555;
}

.food-container {
  display: flex;
  justify-content: space-between;
}

.food-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.img-container {
  margin: 0 1rem;
  position: relative;
  

}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
  color: #fff;
  font-size: 2.2rem;
}

.img-content a {
  font-size: 1.2rem;
}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;

  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}

/* -------------------------------------------  */


/* Path */

.banner-area {
  position: relative;
  min-height: 300px;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)), url(../img/image-3/rose.png)  fixed center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
  margin-bottom: 50px;
}
.banner-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 900;
}
@media (max-width: 767px) {

  .banner-title {

    font-size: 48px;

  }
}

@media (max-width: 575px) {
  .banner-title {
    font-size: 32px;
  }
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner-heading {
  text-align: center;
}
.breadcrumb {
  padding: 0;
  background: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
.breadcrumb li a,
.breadcrumb .breadcrumb-item,
.breadcrumb li a:focus {
  color: #fff !important;
  text-decoration: none;
}
.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
 color: #fff;
}

/*--------------------------------------------------------------

# Cta

--------------------------------------------------------------*/

.cta {

  background: linear-gradient(to right,rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/image-3/Farmhouses.avif") fixed center center;
  background-color: var(--brand);
  background-size: cover;
  padding: 120px 0;
  /* margin-bottom: 50px; */

}
.cta h3 {

  color: #fff;

  font-size: 28px;

  font-weight: 700;

}

.cta p {

  color: #fff;

}
.cta .cta-btn {
 font-family: "Raleway", sans-serif;
 text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 2px;

  transition: 0.5s;

  margin: 10px;

  border-radius: 50px;

  border: 2px solid white;

  color: #fff;

}



.cta .cta-btn:hover {

  background: white;
  border: 2px solid white;
  color: var(--brand);

}



@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {

  .cta .cta-btn-container {

    display: flex;

    align-items: center;

    justify-content: flex-end;

  }

}


.sub-img{
border-radius: 20px;
box-shadow: 5px 3px 4px black;
 
}

/* --------------------------  */

.info1{
  background-color: var(--brand);
  padding: 50px 20px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.info .info2{
  height: 500px;
}

@media only screen and (max-width: 767px) {
  .info .info2{
    height: 200px;
  }
}
@media only screen and (max-width: 460px) {
  .info .info1{
    padding: 50px 20px;
  }
  .info .info1 h1{
    font-size: 25px;
    padding-bottom: 20px;
  }
  .info .info1 h4{
    font-size: 14px;
  }
}

.design-h2{
  font-weight: 900;
  color: var(--brand);
}
@media (max-width: 792px) {
  .design-h2{
    font-size: 20px;
  }
}
.list-num{
  list-style: decimal;
  padding: 5px 0px;
}

/* -------------------------------  */

/* Why us*/
.why-us .why-item {
  padding: 40px;
  background: #fff;
  height: 100%;
  border-radius: 10px;
}

.why-us .why-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 50px;
}

.why-us .why-item .icon i {
  color: rgb(233, 190, 112);
  font-size: 40px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
  line-height: 1.8;
}

.why-us .why-item .icon:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #f0f1f2;
  border-radius: 50px;
  z-index: 1;
  top: 10px;
  right: -15px;
  transition: 0.3s;
}

.why-us .why-item h3 {
  color: var(--body);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #ebebed;
  transition: 0.3s;
}

.why-us .why-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.why-us .why-item .readmore {
  margin-top: 15px;
  display: inline-block;
  color: var(--brand);
}

.why-us .why-item:hover .icon:before {
  background: orange;
}

.why-us .why-item:hover h3 {
  border-color: orange;
}
.why-bg {
  background-color: var(--brand);
}
.why-us h3 {
  font-size: 32px;
  color: orange;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.why-us h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.why-us h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: white;
  bottom: 0;
  left: calc(50% - 20px);
}

.sub-service li{
  padding: 5px 0;
}
/* --------------------------------  */

.we-help-section .imgs-grid {
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (1fr)[27]; */
  grid-template-columns: repeat(27, 1fr);
  position: relative; }
.we-help-section .imgs-grid:before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("../images/dots-green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translate(-40%, -40%);
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
  z-index: -1; }
.we-help-section .imgs-grid .grid {
  position: relative; }
.we-help-section .imgs-grid .grid img {
  border-radius: 20px;
  max-width: 100%; }
.we-help-section .imgs-grid .grid.grid-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 18;
  grid-column: 1 / span 18;
  -ms-grid-row: 1;
  -ms-grid-row-span: 27;
  grid-row: 1 / span 27; }
.we-help-section .imgs-grid .grid.grid-2 {
  -ms-grid-column: 19;
  -ms-grid-column-span: 27;
  grid-column: 19 / span 27;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / span 5;
  padding-left: 20px; }
.we-help-section .imgs-grid .grid.grid-3 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 16;
  grid-column: 14 / span 16;
  -ms-grid-row: 6;
  -ms-grid-row-span: 27;
  grid-row: 6 / span 27;
  padding-top: 20px; }
/*------------------- gallery -------------------------  */

/* Image Gallery */
.untree_co-section {
  padding: 100px 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .untree_co-section {
      padding: 50px 0;
  }
}

.untree_co-section .heading h3 {
  font-size: 35px;
  color: #000000;
}

@media (max-width: 991.98px) {
  .untree_co-section .heading {
      font-size: 20px;
  }
}

.untree_co-section .heading strong {
  font-weight: 700;
}

.item {
  border: none;
  margin-bottom: 30px;
  border-radius: 4px;
  display: block;
}

.item a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  display: block;
}

.item a img {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap {
  display: block;
  position: relative;
  border-radius: 10px;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap > i {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  color: #ffffff;
  font-size: 1.7rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover i {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}


.item-wrap:hover img{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}
/* -------------------latest new  -----------  */



/*** Latest News Start ***/
.latest-news .latest-news-carousel.owl-carousel{
  position: relative;
}

.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: -65px;
  right: 70px;
  font-size: 20px;
  padding: 2px 20px;
  transition: 0.5s;
  margin-right: 10px;
  border: 1px solid var(--brand);
  color: var(--bs-dark);
  border-radius: 20px;
}

.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: -65px;
  right: 0;
  font-size: 20px;
  margin-left: 10px;
  padding: 2px 20px;
  transition: 0.5s;
  border: 1px solid var(--brand);
  color: var(--bs-dark);
  border-radius: 20px;
}

.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-prev:hover,
.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-next:hover {
  background: var(--brand);
  color: white;
  border-radius: 10px;
}

.latest-news-title{
  margin-top: 20px;
  height: 80px;
  align-items: center;
  justify-content: center;
 
}
.latest-news-title h5{
  color: var(--brand);
}
.latest-news-item img{
  height: 200px;
}
/*** Latest News End ***/
.fa-star{
  color: var(--brand);
}
/* home page image  */
.img-container {
  position: relative;
}

.img-container img {
  opacity: 1;
  transition: .5s ease;
  /* backface-visibility: hidden; */
  height: 200px;
  border-radius: 10px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .img-container img {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
  z-index: 3;
}

.text-button {
  background-color:  white;
  color: var(--brand);
  font-size: 16px;
  padding: 10px 22px;
  border-radius: 20px;
}
.text-button:hover{
  background-color:var(--sub);
  color: white;
}
.overlay-text{
  text-align: center;

}

/* product btn  */
.product-btn a{
  padding: 10px 20px;
  background-color: var(--brand);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid var(--brand);
}
.product-btn a:hover{
  background-color: transparent;
  color: var(--brand);
  border: 1px solid var(--brand);
}
